
langchain
langchain-community
langchain-openai
langchain-text-splitters
streamlit
pypdf
python-docx
sentence-transformers
numpy
pandas
tqdm
rank-bm25
openai
python-dotenv
faiss-cpu
pytest
tiktoken
cryptography

